{% extends "index.html" %}
{% load static %}
{% block title %}Hombres/Mujeres{% endblock %}
{% block content %}
<div class="row">
    {% csrf_token %}
    <div class="col-lg-12 mb-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h3 class="m-0 font-weight-bold text-primary">Hombres/Mujeres</h3>
            </div>            
            <div class="card-body">
                <canvas id="grafica"></canvas>
                {{data}}
            </div>
        </div>    
    </div>
</div>
{% endblock content %}
{% block plugins %}
    <script src="{% static "vendor/chart.js/Chart.min.js" %}"></script>   
    
    <!--script src="{% static "js/demo/chart-pie-demo.js" %}"></script-->
  
{% endblock plugins %}
{% block javascript %}
 <script>$(document).ready(function () {
   MuestraFormulario();
   });
    var MuestraFormulario = function(){
    $.ajax({
      url :"grafica1/data",
      type: 'get',
      dataType:'json',
  
      success:function(data){
        var ctx = document.getElementById("grafica");
        var chart = new Chart(ctx, data);
      }
    });
  };
  
 </script>
{% endblock javascript %}
