{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Nueva Menu {% endblock title %}
{% block breadcrumbs %}
    {{ block.super }}
    <li class="active">
        <a href="{% url "CrearMenuView" %}">
            Crear Menu
        </a>
    </li>
{% endblock %}
{% block content %}
    <div class="main-content-inner">
    <div id="datos"></div>
        <div class="page-content">
            <div class="page-header">
                <h1>Crear Menú</h1>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="widget-box">
                            <div class="widget-header widget-header-blue widget-header-flat">
                                <h4 class="widget-title lighter">Datos</h4>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <form id="menu-form" class="form-horizontal" method="post" action="" style="display:block !important; ">
                                        {% csrf_token %}
                                        {% include "form_snippet.html" %}
                                        <hr>
                                        <div class="wizard-actions">
                                            <input type="button" id="limpiar" class="btn btn-info2 fa-input" value=" Limpiar">
                                            <input id = "add" type="submit" class="btn btn-success fa-input" value=" Guardar">
                                            <a class="btn btn-danger" href="{% url "ListaMenuView" %}">Cancelar</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if editar %}

                        <div class="col-xs-10" id="widget-lotes">
                            <div class="widget-box">
                                <div class="widget-header widget-header-blue widget-header-flat">
                                    <h4 class="widget-title lighter">Detalles </h4>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <table id="tabla-detalle" class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Tipo </th>
                                                    <th>Clasificacion</th>
                                                    <th colspan="2">Comida</th>
                                                    {% for d in detalle %}
                                                        <tr>
                                                            <td>{{ d.id_tipo_alimento.descripcion }}</td>
                                                            <td>{{ d.id_clasificacion_alimento.descripcion }}</td>
                                                            <td>{{ d.id_alimento.descripcion }}</td>
                                                            <td>
                                                                <a href="#" onclick="elimina({{ d.id }})" rel="tooltip" data-placement="top" title="Eliminar"><i class=" red fa fa-times bigger-130"></i></a>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tr>
                                            </thead>

                                            <br>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div  id="dialog-confirm" class="ui-dialog-content ui-widget-content" style=" display: none; width: auto; min-height: 30px; max-height: none; height: auto;">

                            <div class="alert alert-info bigger-110">
                                Este registro se eliminará, quedando registrado la fecha y el usuario que está realizando dicha acción.
                            </div>

                            <div class="space-6"></div>

                            <p class="bigger-110 bolder center grey">
                                <i class="ace-icon fa fa-hand-o-right blue bigger-120"></i>
                                ¿Esta seguro?
                            </p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% load staticfiles %}
{% block extracss %}
<link rel="stylesheet" href="{% static "css/select2.min.css" %}">

{% endblock %}
{% block plugins %}

<script src="{% static "js/select2.min.js" %}"></script>
<script src="{% static "js/select2_locale_es.js" %}"></script>
{% endblock %}
{% block extrajs %}

<script>

$("#add").one('click', function (event) {
           event.preventDefault();
           $("#menu-form").submit();
           $(this).prop('disabled', true);
     });

$('#limpiar').click(function ()
    {
        clasificacion.select2("val","");
        proveedor.select2("val","");
        alimento.select2("val","");
        tipo.select2("val","");
        fecha.val("");
        add.addClass('disabled');

});
function oculta_boton(boton)
    {
       if(boton.hasClass('disabled'))
            {
            }
       else
            {
                boton.addClass('disabled');
            }
    }
function mostrar_boton(boton)
    {
       if(boton.hasClass('disabled'))
            {
                boton.removeClass('disabled');
            }
       else
            {

            }
    }
{% if proveedor %}

    $("#id_ref_proveedor").append($("<option>").val({{ proveedor.id }}).html("{{ proveedor.razon_social }}-{{ proveedor.razon_comercial }}"));
     function elimina(data)
            {

                $( "#dialog-confirm" ).removeClass('hide').dialog({
                    resizable: false,
                    width: '320',
                    modal: true,
                    title_html: true,
                    buttons: [
                        {
                            html: "<i class='ace-icon fa fa-trash-o bigger-110'></i>&nbsp; Eliminar",
                            "class" : "btn btn-danger btn-minier",
                            click: function() {
                                window.location.href = '/pedido/eliminar_detalle_menu/' + data ;
                                $( this ).dialog( "close" );
                            }
                        },
                        {
                            html: "<i class='ace-icon fa fa-times bigger-110'></i>&nbsp; Cancelar",
                            "class" : "btn btn-minier",
                            click: function() {
                                $( this ).dialog( "close" );
                            }
                        }
                    ]
                });
            }
{% endif %}

var buscaproveedor = function (elemento) {

    $.ajax({
        url: '{% url "buscaproveedor" %}',
        dataType: 'JSON',
        type: 'GET',
        data: {
            fecha:fecha.val()
        }, success: function (data) {
            $('#id_ref_proveedor option').remove();
            if (data.status ==1)
                {
{#                    $('#datos').append('<div class="alert alert-block alert-success"><b>'+data.message+' </b></div>');#}
                }
            else
                {
                    $('#datos').append('<div class="alert alert-block alert-error"><b>'+data.message+' </b></div>');
                }
            $.each(data.listaproveedor, function(i,item){

                proveedor.append($("<option>").val(item.id).html(item.descripcion));
            })
            {% if editar %}
                proveedor.select2("val","{{ proveedor.id }}")
                console.log(proveedor.val());
                if(proveedor.val() == null)
                    {

                        proveedor.append($("<option>").val(0).html('-------'));
                        proveedor.select2("val","0")
                        valida_agregar();
                    }
            {% endif %}
            setTimeout(function () {
                $('#datos').empty();
            }, 3300);
        }, error: function (data) {
            $('#datos').append('<div class="alert alert-warning center" role="alert"><b> ocurrio un error </b> </div>');
        }
    })
};

function valida_agregar()
    {
        {% if editar %}

            if((tipo.val() == '')&&(clasificacion.val() == '')&&(alimento.val() == '')&&(proveedor.val() !=0))
                {
                    mostrar_boton(add);

                }
            else if(clasificacion.val()=='')
                {
                    oculta_boton(add);
                }
            else if (alimento.val()=='')
                {
                    oculta_boton(add);
                }
            else if(tipo.val()=='')
                {
                    oculta_boton(add);
                }
            else if(proveedor.val()==0)
                {
                    oculta_boton(add);
                }
            else
                {
                    mostrar_boton(add);
                }
        {% else %}
            console.log(proveedor.val());
            if((tipo.val() == '')||(clasificacion.val() == '')||(alimento.val() == ''||(proveedor.val()==0)))
                {
                    oculta_boton(add);
                }
            else
                {
                    mostrar_boton(add);
                }
        {% endif %}
    }

$(document).ready(function() {


    add =$("#add");
    guardar=$("#guardar");
    tipo=$('#id_tipo_alimento');
    clasificacion=$('#id_clasificacion');
    alimento=$('#id_alimento');
    tabla_detalle=$('#tabla-detalle');
    proveedor = $("#id_ref_proveedor");
    combo =$("#selectTipo");
    fecha =$("#id_fecha_menu");
    tipo.select2({width:'85%'});
    {% if editar %}
        mostrar_boton(add);
    {% else %}
        oculta_boton(add);

    {% endif %}
    proveedor.append($("<option>").val(0).html('-------'));
    clasificacion.select2({width:'85%'});
    alimento.select2({width:'85%'});
    proveedor.select2({width:'85%'}).on("input change", function (e) {
        valida_agregar();
    });

    fecha.datepicker({ dateFormat: 'dd-mm-yy',width:'100%'}) .on("input change", function (e) {

        buscaproveedor();
    });

    });

</script>
{% endblock %}