{% for p in object_list %}
<tr>
    <td>{{ p.codigo}}</td>
    <td>{{ p.descripcion}}</td>
    <td>
      <button class="btn btn-warning show-form-update" data-url="{% url 'ActualizarEnfermedad' p.id %}">
        <span class="icon text-white-50">
          <i class="fas fa-user"></i>
        </span>
        Editar 
      </button>
      <p></p>
      <button class="btn btn-danger show-form-delete" data-url="{% url 'EliminarEnfermedad' p.id %}">
        <span class="icon text-white-50">
          <i class="fas fa-trash"></i>
        </span>
        Eliminar 
      </button>
    </td>
</tr>
{% empty %}
  <tr><td>no se encontraron registros</td></tr>
{% endfor %} 
