{% extends "index.html" %}
{% load static %}
{% block title %}Enfermedades{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-12 mb-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h3 class="m-0 font-weight-bold text-primary">Enfermedades</h3>
            </div>            
            <div class="card-body">
              <div align = 'center'>
                  <button class="btn btn-success show-form" data-url="{% url 'CrearMedicamento' %}">
                      <span class="icon text-white-50">
                        <i class="fas fa-first-aid"></i>
                      </span>
                      Nuevo 
                    </button>
              </div>
              <table id="table_generic" class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Opciones</th>

                  </tr>
                </thead>
                <tbody>
                  {% for p in enfermedad_list %}
                    <tr>
                        <td>{{ p.codigo}}</td>
                        <td>{{ p.descripcion}}</td>
                        <td>
                          <button class="btn btn-warning show-form-update" data-url="{% url 'ActualizarMedicamento' p.id %}">
                            <span class="icon text-white-50">
                              <i class="fas fa-user"></i>
                            </span>
                            Editar 
                          </button>
                          <button class="btn btn-danger show-form-delete" data-url="{% url 'EliminarMedicamento' p.id %}">
                            <span class="icon text-white-50">
                              <i class="fas fa-trash"></i>
                            </span>
                            Eliminar 
                          </button>
                        </td>
                    </tr>
                    {% empty %}
                      <tr><td>no se encontraron registros</td></tr>
                  {% endfor %} 
                
                </tbody>
                </table>
                <div class="modal fade" id = "modal-generic">
                  <div class="modal-dialog">
                    <div class="modal-content">
                    </div>
                  </div>
                </div>
            </div>
        </div>    
    </div>
</div>
{% endblock content %}
{% block plugins %}
  <script src="{% static "vendor/datatables/jquery.dataTables.min.js" %}"></script>
  <script src="{% static "vendor/datatables/dataTables.bootstrap4.min.js" %}"></script>
  <script src="{% static "js/modal_crud.js" %}">//plugin que nos permite hacer un crud generico</script>
{% endblock plugins %}
{% block javascript %}
 <script>
  $('#table_generic').DataTable();
 </script>
{% endblock javascript %}
