{% for p in object_list %}
<tr>
    <td>{{ p.paciente.nombre}}</td>
    <td>{{ p.paciente.ap_paterno }}</td>
    <td>{{ p.paciente.ap_materno }}</td>
    <td>
      <button class="btn btn-warning show-form-update" data-url="{% url 'ActualizarConsulta' p.id %}">
        <span class="icon text-white-50">
          <i class="fas fa-user"></i>
        </span>
        Editar 
      </button>
      <button class="btn btn-danger show-form-delete" data-url="{% url 'EliminarConsulta' p.id %}">
        <span class="icon text-white-50">
          <i class="fas fa-trash"></i>
        </span>
        Eliminar 
      </button>
      
      <button class="btn btn-info show-form"  data-url="{% url 'CrearReceta' p.id %}">
          <span class="icon text-white-50">
            <i class="fas fa-book-medical"></i>
          </span>
          Receta
      </button>
    </td>
</tr>
{% empty %}
  <tr><td>no se encontraron registros</td></tr>
{% endfor %} 

